.index {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

 .header {
     background-color: #010101;
     color: white;
     display: flex;
     justify-content: space-between;
     height: 90px;

     
 }
 .header ol {
     display: flex;
     height: inherit;
 }
 
 .header a {
     display: flex;
     height: inherit;
     display: flex;
     align-items: center;
     padding: 0 10px;
 
 }

 .logo {
     padding-left: 200px;
 }

.menu {
    display: flex;
    height: inherit;
    padding-right: 300px;
    
}

ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    height: inherit;
}

.hero {
    background-color: #292929;
}

.information {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background: #292929;
    color: white;
    text-decoration: none;
    padding: 200px;
    display: flex;
    height: 600;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
}

.information-details {
    padding: 50;
    margin-top: 50;
}

.information-list {
    padding: 50;
    margin-top: 50;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}
@media screen and (max-width: 320px) {
    .header {
        display: block;
        height: auto;
    }
    .header ol li {
        padding-left: 0;
    }
    .logo {
        margin: 0;
        padding: 0 0;
    }
    .menu {
        padding: 0;
        width: 50%;
        padding-left: 0;
    }

 }

 @media screen and (max-width: 480px) {
     .header {
         display: block;
         height: auto;
     }
    .logo {
        display: inherit;
        margin: 0;
        padding-top: 20px;
        padding-left: 100px;
    } 
    .menu {
        height: 90px;
        padding-left: 100px;
    }
 
 }

@media screen and (max-width: 768px) {


    .header {
        width: 100%;
    }
    .logo {
       padding-left: 0%;
       width: 100%;
    }
   
    .menu {
       padding-right: 0%;
       
    }
    
    .hero {
        height: auto;
    }

    .hero-image {
       width: 100%; 
    }
    .information {
        padding: 100px;
    }
}

@media screen and (max-width: 1024px) {

    .header {
        width: 100%;
    }
    
    .logo {
        padding-left: 0%;
        width: 100%;
    }
    
    .menu {
        padding-right: 0%;
        width: 100%;
    }

    .hero-image {
        height: auto;
        width: 100%;
     }
}
@media screen and (max-width: 1440px) {
    .hero-image {
        height: auto;
        width: 100%;
    }
}